html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

section {
    margin: 20px 5%;
    text-align: justify;
}

/* Primer article */
.contenidor-flex {
    display: flex;
}

.contenidor-article-1, .imatge {
    width: 50%;
}

.contenidor-article-1 h1 {
    font-size: 30px;
}

.contenidor-article-1 p {
    margin-right: 10vh;
}

.imatge img {
    width: 100%;
}

/* Segon Article */
.article-2 ul li ol {
    margin-top: 10px;
}

.article-2 .button {
    text-align: center;
    margin-top: 15px;
}

.article-2 .button button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.article-2 .button button:hover {
    color: #fff;
    background-color: #000;
    scale: 1.2;
}